@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tenne-tawny: #131212;
    --tenne-tawny-dark: #a36c06;
}

body {
    cursor: url(chef.giff), auto;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.gif {
    width: 100px;
    height: auto;
}

/* Navbar Styles */
.navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    float: right;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141519;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navbar a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #ffffff;

    color: rgb(40, 59, 27);
}

h4{
    color:white;
 }
 h4:hover {
background-color: #ddd;
width: 100%;
color: rgb(40, 59, 27);
}


.navbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

.navbar-toggle {
    font-size: 24px;
    cursor: pointer;
}

/* General Styles */
.btn {
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.text {
    opacity: 0.8;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container {
    min-height: 100vh;
    text-align: center;
    width: 100%;
    opacity: 80%;
    padding: 10px;
    /* box-shadow: 6px 6px 6px 6px #555; */
}

/* Meal Wrapper Styles */
.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #ffffff;
    text-align: center;
}

.meal-search {
    margin: 2rem 0;
}

.meal-search cite {
    font-size: 1rem;
}

.meal-search-box {
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-control,
.search-btn {
    width: 100%;
}

.search-control {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-control::placeholder {
    color: var(--tenne-tawny);
}

.search-btn {
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fffafa;
    border: none;
    border-top-right-radius: 2rem;
    transition: all 0.4s linear;
}

.search-btn:hover {
    background: var(--tenne-tawny-dark);
}

/* Meal Result Styles */
.meal-result {
    margin-top: 4rem;
}

#meal {
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.meal-item {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meal-img img {
    width: 100%;
    display: block;
}

.meal-name {
    padding: 1.5rem 0.5rem;
}

.meal-name h3 {
    font-size: 1.4rem;
}

.recipe-btn {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.4s linear;
}

.recipe-btn:hover {
    background: var(--tenne-tawny-dark);
}

/* Meal Details Styles */
.meal-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.meal-details::-webkit-scrollbar {
    width: 10px;
}

.meal-details::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 2rem;
}

/* JS Related Styles */
.showRecipe {
    display: block;
}

.meal-details-content {
    margin: 2rem;
}

.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-category {
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruct {
    padding: 1rem 0;
}

.recipe-meal-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link {
    margin: 1.4rem 0;
}

.recipe-link a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}

.recipe-link a:hover {
    opacity: 0.8;
}

/* Not Found Styles */
.notFound {
    grid-template-columns: 1fr !important;
    color: var(--tenne-tawny);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px) {
    .meal-search-box {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    #meal {
        grid-template-columns: repeat(2, 1fr);
    }

    .meal-details {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Responsive Styles */
.gif {
    width: 100px;
    height: 100px;
}

#main1 {
    text-align: center;
    padding: 2rem;
}

img {
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.3s, filter 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    filter: brightness(100%);
}

.image-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.image-table td {
    width: 33.33%;
    padding: 10px;
}

li {
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .image-table td {
        width: 100%;
        display: block;
        box-sizing: border-box;
    }
}

/* ToDoList Styles */
#todoButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

#todoButton img {
    float: right;
    width: 30px;
    height: 30px;
}

#todoContainer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding: 15px;
    text-align: center;
    z-index: 1;
    height: 100%;
}

#todoContainer .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#todoContainer .todo-app {
    margin-top: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(226, 199, 141);
    width: 100%;
    max-width: 540px;
    background: url(list.jpg);
    text-align: center;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px 7px #857d6d;
}

#todoContainer .todo-app h2 {
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

#todoContainer .todo-app h2 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    margin: 30px auto 20px;
    padding: 10px;
}

body {
    width: 100%;
}